
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pongpat Chaypan Create for Test Quadra_Technology</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="assets/css/ui.jqgrid.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="@Url.Action("index","home")" class="navbar-brand">
                    <small>                        
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                        My Demo Web
                    </small>
                </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav" style="">
                    <li class="green dropdown-modal">
                        <button onclick="addStaff()" data-toggle="tooltip" data-placement="bottom" title="Add" class="addstaff fa fa-plus-circle btn btn-success"><span> เพิ่มพนักงาน </span> </button>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>
    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">

            @Html.Partial("_menu_list")

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @*@RenderBody()*@





    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/ace-extra.min.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/Scripts/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom.js"></script>









    @*<script src="~/Scripts/JqgridData.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
@*@RenderBody()*@